
.vscode
comp3320
CMakeFiles/
Makefile
cmake_install.cmake
CMakeCache.txt

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o


# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la

# Executables
*.out
*.app

Debug/GLFW_EXAMPLE\.exe

Debug/GLFW_EXAMPLE\.pdb

Debug/SOIL\.lib

Debug/SOIL\.pdb

GLFW_EXAMPLE/Debug/vc141\.idb

GLFW_EXAMPLE/Debug/vc141\.pdb

\.vs/GLFW_EXAMPLE/v15/Browse\.VC\.opendb

\.vs/GLFW_EXAMPLE/v15/\.suo

\.vs/GLFW_EXAMPLE/v15/Solution\.VC\.db

\.vs/GLFW_EXAMPLE/v15/Solution\.VC\.db-shm

GLFW_EXAMPLE/Debug/GLFW_EXAMPLE\.log

GLFW_EXAMPLE/Debug/GLFW_EXAMPLE\.tlog/CL\.command\.1\.tlog

GLFW_EXAMPLE/Debug/GLFW_EXAMPLE\.tlog/CL\.read\.1\.tlog

GLFW_EXAMPLE/Debug/GLFW_EXAMPLE\.tlog/CL\.write\.1\.tlog

GLFW_EXAMPLE/Debug/GLFW_EXAMPLE\.tlog/GLFW_EXAMPLE\.lastbuildstate

GLFW_EXAMPLE/Debug/GLFW_EXAMPLE\.tlog/link\.command\.1\.tlog

GLFW_EXAMPLE/Debug/GLFW_EXAMPLE\.tlog/link\.read\.1\.tlog

GLFW_EXAMPLE/Debug/GLFW_EXAMPLE\.tlog/link\.write\.1\.tlog

GLFW_EXAMPLE/Debug/main\.obj

GLFW_EXAMPLE/soil/projects/VC9/Debug/image_DXT\.obj

GLFW_EXAMPLE/soil/projects/VC9/Debug/image_helper\.obj

GLFW_EXAMPLE/soil/projects/VC9/Debug/SOIL\.idb

GLFW_EXAMPLE/soil/projects/VC9/Debug/SOIL\.log

GLFW_EXAMPLE/soil/projects/VC9/Debug/SOIL\.obj

GLFW_EXAMPLE/soil/projects/VC9/Debug/SOIL\.pdb

GLFW_EXAMPLE/soil/projects/VC9/Debug/SOIL\.tlog/CL\.command\.1\.tlog

GLFW_EXAMPLE/soil/projects/VC9/Debug/SOIL\.tlog/CL\.read\.1\.tlog

GLFW_EXAMPLE/soil/projects/VC9/Debug/SOIL\.tlog/CL\.write\.1\.tlog

GLFW_EXAMPLE/soil/projects/VC9/Debug/SOIL\.tlog/Lib-link\.read\.1\.tlog

GLFW_EXAMPLE/soil/projects/VC9/Debug/SOIL\.tlog/Lib-link\.write\.1\.tlog

GLFW_EXAMPLE/soil/projects/VC9/Debug/SOIL\.tlog/lib\.command\.1\.tlog

GLFW_EXAMPLE/soil/projects/VC9/Debug/SOIL\.tlog/SOIL\.lastbuildstate

GLFW_EXAMPLE/soil/projects/VC9/Debug/stb_image_aug\.obj

*.tlog

*.log

GLFW_EXAMPLE/Debug/

GLFW_EXAMPLE/soil/projects/VC9/Debug/

\.vs/GLFW_EXAMPLE/v15/ipch/AutoPCH/289be8f125e1fc46/TEST\.ipch

\.vs/GLFW_EXAMPLE/v15/ipch/AutoPCH/8661916fb6956f5a/MAIN\.ipch

\.vs/GLFW_EXAMPLE/v15/ipch/AutoPCH/a496a38b5d5f1255/DIMENSIONAL_OBJECT\.ipch

\.vs/GLFW_EXAMPLE/v15/ipch/AutoPCH/e60652f3fad191dd/DIMENSIONAL_OBJECT_TESTS\.ipch

\.vs/GLFW_EXAMPLE/v15/ipch/AutoPCH/2c3953aa688a312c/SCENE_TESTS\.ipch

\.vs/GLFW_EXAMPLE/v15/ipch/AutoPCH/5ec130b218bf8aa5/TEXTURE_TESTS\.ipch

\.vs/GLFW_EXAMPLE/v15/ipch/AutoPCH/8c1a7f5fd392c7bd/TEXTURE\.ipch

\.vs/GLFW_EXAMPLE/v15/ipch/AutoPCH/33dfe1749b8d513f/CUBEMAP_TEXTURE\.ipch

\.vs/GLFW_EXAMPLE/v15/ipch/AutoPCH/129a1283138cda04/SCENE\.ipch

\.vs/GLFW_EXAMPLE/v15/ipch/AutoPCH/5a0fdff66e0fadd6/MAINSKYBOX\.ipch

\.vs/GLFW_EXAMPLE/v15/ipch/AutoPCH/a6d6463f23cf69a6/WINDOW\.ipch

\.vs/GLFW_EXAMPLE/v15/ipch/AutoPCH/de69f372e9119478/SHADER_PROGRAM\.ipch

\.vs/GLFW_EXAMPLE/v15/ipch/AutoPCH/f01042cbe07fdf1d/MAINTERRAIN\.ipch

\.vs/GLFW_EXAMPLE/v15/ipch/AutoPCH/33dfe1749b8d513f/CUBEMAP_TEXTURE\.ipch

\.vs/GLFW_EXAMPLE/v15/ipch/AutoPCH/3b8bff64a58e950b/CAMERA\.ipch

\.vs/GLFW_EXAMPLE/v15/ipch/AutoPCH/a6d6463f23cf69a6/WINDOW\.ipch
